

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
height: 100%;
}

body {
    color: #797979;
	background-color: #8A9288;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    background-size:150%;
    height: 100%
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #68dff0;
    color: #fff;
}
::-moz-selection {
    background: #68dff0;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

/*Helpers*/

.centered {
	text-align: center;
}


.mt {
	margin-top: 0px;
    height: 40px;
}

.home_img{
    height: 100%;
    width: 100%;
}
/*Social icon*/

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	transition: all 400ms ease-in-out;
}

.social{
  list-style-type: none;
  margin: 10px 2em 0;
  padding: 0;
  text-align: center;
  display: inline;
}


.social li a{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 13px;
    margin-left: 1em;
	border: 1px solid #666666;
    border-radius: 5px;
	
	/*background-color: #222;*/
	box-shadow: inset 0 0 0 40px #222;
	color: #fff;
}

.social li a:hover{
	box-shadow: inset 0 0 0 3px #222;
	color: #222;
}

/*Top Navigation================================
===============================================*/
.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: white;
    border-bottom: 1px solid #c9aa5f;
}


a.logo {
    font-size: 40px;
    color: black;
    float: left;
    margin-left: 30%;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #68dff0;
}


/*notification*/
#top_menu .nav > li, ul.top-menu > li {
    float: left;
}


ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 8px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #b6b6b6 !important;
    background-color: transparent !important;
    border-color: #b6b6b6 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important;
}

.top-nav  {
    margin-top: 7px;
}


/*sidebar navigation================================================
====================================================================*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #0A0A0D;
}

#sidebar h5 {
	color: gray;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}


/*Navigation-collapse*/
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    background-color: #5c5c61;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 10px;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    display: block;
    transition: all 0.3s ease;
    background-color: #8a8185;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}
/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Main Content====================================
==================================================*/
#main-content {
    margin-left: 210px;
    height: 100%

}
.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    height: 100%;
}


/*TRAILER PAGE==============================================
============================================================*/

iframe {
  width: 80%; 
  height: 80%;
  display: block;
  margin:0 auto;
}


/*Catch the film PAGE==============================================
============================================================*/

.col-md-3 {
    margin-left: 0;
}

#locations p {
    color: black;
    margin-left: 70%;
    background-color: lightgray;
    width: 250px;
}


/*Background PAGE==============================================
============================================================*/

.col-lg-6 p {
    color: black;
    bottom: 50px;
}


.col-lg-6 a {
    color: black;
    text-decoration: underline;
}

#introduction {

    margin-left: 10%;
    position: absolute;
    bottom: 70px;
    width: 45%;
    background-color: gray;
    opacity: 0.3;
    font-weight: bold;
    padding: 10px;

}

.background_img {
    width: 100%;
    height: 100%;

}

/*The crew film PAGE==============================================
============================================================*/

.col-sm-3 p {
    width: 300px;
    color: black;
    font-size: 10px;
   }

#bios {
    padding-left: 80%;

}

#profile {
    padding-left: 65%;
}


#profile img {
    width: 150px;
    height: 150px;
}

.col-sm-3 #bios {
    padding-left: 50%;
}

.col-sm-3 #profile {
    padding-left: 50%;
}


